main.json
{
  "name": "T212 to Digrin",
  "nodes": [
    {
      "parameters": {
        "content": "1. Setup in credentials as Header Auth with:\n    * name=Authorization\n    * value=T212_API_KEY\n\n2. Setup AWS credentials",
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        20
      ],
      "id": "2fb566b8-13f3-4566-8d54-c0ddb112abb4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://live.trading212.com/api/v0/history/exports",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dataIncluded\": {\n    \"includeDividends\": true,\n    \"includeInterest\": true,\n    \"includeOrders\": true,\n    \"includeTransactions\": true\n  },\n  \"timeFrom\": \"{{ $json.fromDateFormatted }}\",\n  \"timeTo\": \"{{ $json.toDateFormatted }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        400
      ],
      "id": "12a7fec9-c42e-414c-86fb-af4463179782",
      "name": "Create Report",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jRBuo8FJzdfBj9mC",
          "name": "T212"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -660,
        220
      ],
      "id": "e791cf79-216a-4100-a61e-834b6611fe36",
      "name": "Get Current Date"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.currentDate }}",
        "timeUnit": "months",
        "duration": 1,
        "outputFieldName": "previousMonthDate",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -440,
        220
      ],
      "id": "018054d1-0d19-4fb3-a1e7-ad755512fd42",
      "name": "Get Last Month Date"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.fromDate }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd'T00:00:00Z'",
        "outputFieldName": "fromDateFormatted",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "dbf2e7e6-eccc-4722-8e6b-5cbc0a787e51",
      "name": "Format From Date",
      "notes": "to make sure 00:00:00 time is used"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.toDate }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd'T00:00:00Z'",
        "outputFieldName": "toDateFormatted",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "deb97be8-53e0-4d42-a3d7-d4dfeb6ea757",
      "name": "Format To Date",
      "notes": "to make sure 00:00:00 time is used"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        400
      ],
      "id": "d5929b9d-bd85-4355-b929-62ddf9798b5e",
      "name": "Wait 10s - Optimized Wait Time",
      "webhookId": "3b52d336-99e0-48a7-9d2f-05b121f2261d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f273a6e8-6e60-4f0c-ab61-36af64752f20",
              "leftValue": "={{ $json.reportId }}",
              "rightValue": "={{ $('Create Report').item.json.body.reportId }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "969963f1-2f8c-4f9a-8ff2-cf5d03f5e50c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1100,
        400
      ],
      "id": "ae8573ba-9b57-4dc5-8e1a-d9cfae2ac582",
      "name": "Filter Created Report Id"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst tickerMap = {\n  'VWCE': 'VWCE.DE',\n  'VUAA': 'VUAA.DE',\n  'SXRV': 'SXRV.DE',\n  'ZPRV': 'ZPRV.DE',\n  'ZPRX': 'ZPRX.DE',\n  'MC': 'MC.PA',\n  'ASML': 'ASML.AS',\n  'CSPX': 'CSPX.L',\n  'EISU': 'EISU.L',\n  'IITU': 'IITU.L',\n  'IUHC': 'IUHC.L',\n  'NDIA': 'NDIA.L'\n};\n\nfor (const item of $input.all()) {\n  if (tickerMap[item.json.Ticker]) {\n    item.json.Ticker = tickerMap[item.json.Ticker];\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        400
      ],
      "id": "8e31216f-3346-4bbc-9e6e-7299dfacb534",
      "name": "Map Ticker"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "t212-to-digrin-test",
        "fileName": "=t212/{{ $json.previousMonthDateFormatted }}.csv",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1760,
        180
      ],
      "id": "ea1f208c-05cf-4457-93bb-bf6cd49df3d8",
      "name": "AWS S3 upload T212 CSV",
      "credentials": {
        "aws": {
          "id": "PvlozP4J275xOC85",
          "name": "AWS"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.downloadLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        400
      ],
      "id": "f321aa5a-43f3-4df5-81ac-47aac250a5ad",
      "name": "Get Encoded T212 CSV"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2200,
        400
      ],
      "id": "28c49028-3d1b-49f4-98c5-58adbb75f2a8",
      "name": "Encode Digrin DataFrame"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "t212-to-digrin-test",
        "fileName": "=digrin/{{ $json.previousMonthDateFormatted }}.csv",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ],
      "id": "047d6cc0-6dc0-4965-aad5-81ab528b07fa",
      "name": "AWS S3 Upload Digrin CSV",
      "credentials": {
        "aws": {
          "id": "PvlozP4J275xOC85",
          "name": "AWS"
        }
      }
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.previousMonthDate }}",
        "outputFieldName": "fromDate",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -220,
        200
      ],
      "id": "c5760e94-5e9d-4294-847d-a27316dab4eb",
      "name": "Get From Date"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.previousMonthDate }}",
        "format": "custom",
        "customFormat": "yyyy-MM",
        "outputFieldName": "previousMonthDateFormatted",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "15b9df78-7b6f-4cd1-9512-3437a990617f",
      "name": "Format Last Month Date"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.previousMonthDate }}",
        "mode": "roundUp",
        "outputFieldName": "toDate",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -220,
        400
      ],
      "id": "21a882b9-b2be-4fc1-979f-6184062041d6",
      "name": "Get To Date"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        220,
        400
      ],
      "id": "abab5bd5-5c5e-49d2-bbf9-1435f82fa992",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1540,
        400
      ],
      "id": "37492c24-2cc3-427f-9176-a3e6a6e184b8",
      "name": "Decode T212 to DataFrame"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1540,
        180
      ],
      "id": "69e28f15-d839-4e69-b913-e442a3ebbb74",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2420,
        0
      ],
      "id": "a8c83eba-90cc-4d21-ad54-72455765b300",
      "name": "Merge2"
    },
    {
      "parameters": {
        "url": "https://live.trading212.com/api/v0/history/exports",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        400
      ],
      "id": "2bafd47f-80a4-4ad3-a5db-97e97bf03b21",
      "name": "List Reports",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jRBuo8FJzdfBj9mC",
          "name": "T212"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80249712-af1b-4018-948a-8f981b1bc84c",
              "leftValue": "={{ [\"Market buy\", \"Market sell\"] }}",
              "rightValue": "={{ $json.Action }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "a7e7a33b-d497-4d6c-9adf-81651e2af4b6",
              "leftValue": "={{ [\"VNTRF\", \"BRK.A\"] }}",
              "rightValue": "={{ $json.Ticker }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1760,
        400
      ],
      "id": "164f6102-72e8-4975-8f2e-38efc5855b42",
      "name": "Filter Actions and Tickers"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        620
      ],
      "id": "e7989992-cefd-4b1e-a4ea-95fc270e7310",
      "name": "Wait 10s and Retry",
      "webhookId": "3b52d336-99e0-48a7-9d2f-05b121f2261d"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1100,
        620
      ],
      "id": "a5bbcfa0-5189-45cc-b5f5-4a85d35e4774",
      "name": "Wait 10s and Retry 2",
      "webhookId": "3b52d336-99e0-48a7-9d2f-05b121f2261d"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 3,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        220
      ],
      "id": "5807c34c-f2ca-4acd-94f7-9d30a9d6af57",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Report": {
      "main": [
        [
          {
            "node": "Wait 10s - Optimized Wait Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s and Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Date": {
      "main": [
        [
          {
            "node": "Get Last Month Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Month Date": {
      "main": [
        [
          {
            "node": "Format Last Month Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get From Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get To Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format From Date": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format To Date": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait 10s - Optimized Wait Time": {
      "main": [
        [
          {
            "node": "List Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Created Report Id": {
      "main": [
        [
          {
            "node": "Get Encoded T212 CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Ticker": {
      "main": [
        [
          {
            "node": "Encode Digrin DataFrame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Encoded T212 CSV": {
      "main": [
        [
          {
            "node": "Decode T212 to DataFrame",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Encode Digrin DataFrame": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get From Date": {
      "main": [
        [
          {
            "node": "Format From Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Last Month Date": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get To Date": {
      "main": [
        [
          {
            "node": "Format To Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode T212 to DataFrame": {
      "main": [
        [
          {
            "node": "Filter Actions and Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AWS S3 upload T212 CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "AWS S3 Upload Digrin CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Reports": {
      "main": [
        [
          {
            "node": "Filter Created Report Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s and Retry 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Actions and Tickers": {
      "main": [
        [
          {
            "node": "Map Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s and Retry": {
      "main": [
        [
          {
            "node": "Create Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s and Retry 2": {
      "main": [
        [
          {
            "node": "List Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9bbd009b-a4b5-45e1-9af5-be2b429ab172",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88b3fb989b3cd3ae677f0fde26e11746a53565a30315214575e3aa79d72e0bd3"
  },
  "id": "ZfKRUxOT5om3i9Q7",
  "tags": []
}